description: Endpoints Collation Service
prerequisites:
  - base-instance-profile
parts:

  - name: Endpoints Collation Service security group
    description: Creates the security group for the Endpoints Collation Service.
    handler: cloudformation
    updateMethod: update
    task:
      stackName: $(instanceId)-$(endpoints-collation-service-hostname)-security-group
      templateBody:
        AWSTemplateFormatVersion: "2010-09-09"
        Resources:
          SecurityGroup:
            Type: AWS::EC2::SecurityGroup
            Properties:
              GroupDescription: $(instanceId)-$(endpoints-collation-service-hostname)-security-group
              VpcId: $(vpc)
              SecurityGroupIngress:
              - IpProtocol: tcp
                FromPort: "$(endpoints-collation-service-port)"
                ToPort: "$(endpoints-collation-service-port)"
                CidrIp: "0.0.0.0/0"
              Tags:
                - Key: security-scan:ignore-public-ip
                  Value: $(endpoint-collation-security-scan-ignore-public-ip)
        Outputs:
          SecurityGroupID:
            Description: ID of the created security group
            Value:
              Ref: SecurityGroup
      templateOutputs:
        SecurityGroupID: endpoints-collation-service-security-group

  - name: Endpoints Collation service instance
    description: Starts an instance of the Endpoints Collation service
    handler: cloudformation
    updateMethod: update
    task:
      stackName: $(instanceId)-$(endpoints-collation-service-hostname)-ec2
      amiLookups:
        - name: endpoints-collation-service-$(endpoints-collation-service-version)
          var: endpoints-collation-service-ami
      base64Encode:
        - value:
            - '#!/bin/sh'
            -
            - 'sudo yum update -y -q'

            - 'cat << EOF > /home/ec2-user/config.json'
            - '{'
            - '  "endpoints": $(endpoints),'
            - '  "mustBeTrue": {'
            - '    "status": ['
            - '      200'
            - '    ],'
            - '    "body": ['
            - '      "//status/result[text()=''OK'']"'
            - '    ]'
            - '  },'
            - '  "mustBeFalse": {'
            - '    "body": ['
            - '      "//status/resources/*[@result!=''OK'']"'
            - '    ]'
            - '  }'
            - '}'
            - 'EOF'

            - cd /home/ec2-user/endpoints-collation-service/
            - npm install

            - sudo chown ec2-user /var/log/barossa

            - sudo sh /home/ec2-user/start-filebeat.sh --logstash osr$(infrastructure-environment)-logstash-elb

            - export PORT=8080
            - export CONFIG_PATH=/home/ec2-user/config.json
            - export DEPLOYED_VERSION=$(endpoints-collation-service-version)
            - export DEPLOYED_ENVIRONMENT=$(instanceId)
            - forever start -a -l /var/log/barossa/forever.log -o /var/log/barossa/app.log -e /var/log/barossa/error.log /home/ec2-user/endpoints-collation-service/src/server.js

          var: base64encoded-endpoints-collation-user-data
      templateBody:
        AWSTemplateFormatVersion: "2010-09-09"
        Resources:
          ElasticLoadBalancerSecurityGroup:
            Type: AWS::EC2::SecurityGroup
            Properties:
              GroupDescription: $(instanceId)-$(endpoints-collation-service-hostname)-elb-security-group
              VpcId: $(vpc)
              SecurityGroupIngress:
              - IpProtocol: tcp
                FromPort: "80"
                ToPort: "80"
                CidrIp: "0.0.0.0/0"
          ElasticLoadBalancer:
            Type: AWS::ElasticLoadBalancing::LoadBalancer
            Properties:
              CrossZone: True
              HealthCheck:
                HealthyThreshold: 2
                Interval: 10
                Target: HTTP:$(endpoints-collation-service-port)/result
                Timeout: 2
                UnhealthyThreshold: 2
              Listeners:
                - InstancePort: "$(endpoints-collation-service-port)"
                  InstanceProtocol: HTTP
                  LoadBalancerPort: "80"
                  Protocol: HTTP
              Scheme: $(endpoint-collation-load-balancer-scheme)
              SecurityGroups:
                - Ref: ElasticLoadBalancerSecurityGroup
              Subnets:
                - $(endpoint-collation-load-balancer-subnet-1)
                - $(endpoint-collation-load-balancer-subnet-2)
              Tags:
                - Key: DomainNames
                  Value: $(endpoints-collation-service-hostname).$(sub-domain).+
          LaunchConfiguration:
            Type: AWS::AutoScaling::LaunchConfiguration
            Properties:
              AssociatePublicIpAddress: False
              IamInstanceProfile: $(base-instance-profile)
              ImageId: $(endpoints-collation-service-ami)
              InstanceType: $(endpoints-collation-service-instance-type)
              SecurityGroups:
                - $(endpoints-collation-service-security-group)
              UserData: $(base64encoded-endpoints-collation-user-data)
          AutoScalingGroup:
            Type: AWS::AutoScaling::AutoScalingGroup
            Properties:
              DesiredCapacity: "1"
              LaunchConfigurationName:
                Ref: LaunchConfiguration
              LoadBalancerNames:
                - Ref: ElasticLoadBalancer
              MaxSize: "1"
              MinSize: "1"
              Tags:
                - Key: Name
                  Value: $(endpoints-collation-service-hostname)
                  PropagateAtLaunch: True
                - Key: Environment
                  Value: $(environment)
                  PropagateAtLaunch: True
              VPCZoneIdentifier:
                - $(private-subnet-a)
                - $(private-subnet-b)
          HighCPUAlarm:
            Type: AWS::CloudWatch::Alarm
            Properties:
              AlarmDescription: Alarm if CPU > 80% for $(high-cpu-alarm-period) seconds
              MetricName: CPUUtilization
              Namespace: AWS/EC2
              Statistic: Average
              Period: $(high-cpu-alarm-period)
              EvaluationPeriods: "1"
              Threshold: "80"
              AlarmActions:
                - $(sns-topic-alarms)
              Dimensions:
                - Name: AutoScalingGroupName
                  Value:
                    Ref: AutoScalingGroup
              ComparisonOperator: GreaterThanThreshold
          LowCPUCreditAlarm:
            Type: AWS::CloudWatch::Alarm
            Properties:
              AlarmDescription: Alarm if CPU credits < 10 for 5 minutes
              MetricName: CPUCreditBalance
              Namespace: AWS/EC2
              Statistic: Minimum
              Period: "300"
              EvaluationPeriods: "1"
              Threshold: "10"
              AlarmActions:
                - $(sns-topic-alarms)
              Dimensions:
                - Name: AutoScalingGroupName
                  Value:
                    Ref: AutoScalingGroup
              ComparisonOperator: LessThanThreshold
        Outputs:
          AutoScalingGroupID:
            Description: Auto-Scaling Group
            Value:
              Ref: AutoScalingGroup
          DashboardBoxes:
            Description: Dashboard boxes
            Value: '[{
                      "check_command": "endpointCollationServiceCheck!Endpoints Collation Service Check!http://$(endpoints-collation-service-hostname).$(sub-domain).$(root-domain)/result",
                      "location": "$(instanceId)/Endpoints Collation Service/Status Check"
                    }]'
      templateOutputs:
        AutoScalingGroupID: endpoints-collation-auto-scaling-group

  - name: Endpoints Collation auto-scaling group concertina
    description: Refreshes the ASG to ensure the latest AMI is instantiated
    handler: asg-concertina
    test:
      lastLaunchConfigurationAction: $($(instanceId)-$(endpoints-collation-service-hostname)-ec2-LaunchConfiguration-action)
    task:
      autoScalingGroup: $(endpoints-collation-auto-scaling-group)
      instanceCheckPort: $(endpoints-collation-service-port)
      instanceCheckRoute: /result
